body{
    background-color:cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin-top: 100px;
}
.container{
    
    width: 800px;
    margin: 30px auto;
    color: whitesmoke;
    text-align: center;
}
h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2.6rem;
    text-transform: capitalize;
}
#tens,#seconds,#hours{
    font-size: 2em;
}
button{
    width: 160px;
    height: 50px;
    background: transparent;
    color: whitesmoke;
    border-bottom: 5px;
    margin-right: 10px;
    outline: solid 2px whitesmoke;
    border-radius: 10px;
}

button:hover{
    background: whitesmoke;
    color: cadetblue;
    font-weight: 800;
    text-transform: uppercase;
}